database-server/src/main/mule/database-server.xml
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ee3d64e4-496a-4591-ba92-b52687198a31">
<http:listener-connection host="localhost" port="8082"/>
</http:listener-config>
<db:config name="Database_Config" doc:name="Database Config" doc:id="febc39a0-fc15-493a-9706-b3754a853c83">
<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="customers"/>
</db:config>
<flow name="select-Data-availability" doc:id="f55011a9-c8d2-4171-b85a-c60e27b08cb0">
<http:listener doc:name="Listener" doc:id="9f334323-7f37-413d-9569-120f3b965720" config-ref="HTTP_Listener_config" path="/customer/query" outputMimeType="application/json"/>
<logger level="INFO" doc:name="Start-Log" doc:id="7a856bb1-aaac-4d04-bbc1-32b96ba0d1f6" message="#[payload]"/>
<try doc:name="Try" doc:id="1c2ea986-61a7-4927-b35b-7ed3dd106fad">
<db:select doc:name="Select the available records" doc:id="5a142c42-622a-496a-b50e-065868ce4c97" config-ref="Database_Config">
<db:sql><![CDATA[ #[payload.query] 
 ]]>
</db:sql>
</db:select>
<error-handler>
<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fc373172-f913-4b4d-becf-ea49110fc4ee" type="ANY">
<logger level="INFO" doc:name="Logger" doc:id="8348d25d-caa0-47d5-8599-c5f94d3e0000" message="#[error.detailedDescription]"/>
</on-error-propagate>
</error-handler>
</try>
<ee:transform doc:name="Transform Message" doc:id="167fb8d3-fd91-4254-b39b-4c73175d47c4">
<ee:message>
<ee:set-payload><![CDATA[ %dw 2.0 output application/json 
 --- 
 
 payload ]]>
</ee:set-payload>
</ee:message>
</ee:transform>
</flow>
<flow name="insert-new-Data" doc:id="4db46dee-7c48-4293-9429-6ee0a439cba3">
<http:listener doc:name="Listener" doc:id="9ef1b3d8-7bcc-490c-9b0a-dc3d42a9ceeb" config-ref="HTTP_Listener_config" path="customers/insert"/>
<db:insert doc:name="Insert new records " doc:id="982d0a9b-5014-4e37-a401-d366c0fe224e" config-ref="Database_Config">
<db:sql>
<![CDATA[ #[payload.query] ]]>
</db:sql>
</db:insert>
<logger level="INFO" doc:name="sucessfully inserted new records" doc:id="97e6f9ae-79b4-4e66-a388-9dc78531cefe" message="sucessfully inserted new records"/>
</flow>
</mule>