jms-queue-service/activemq/src/main/mule/activemq-topic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="activemq-topic" doc:id="8b38babb-f94d-4044-ba38-2b7386170a35" >
		<http:listener doc:name="Listener" doc:id="e6cd6f7e-811a-4444-b84f-e8b7006b977b" path="/sendactivemq-topic" config-ref="HTTP_Listener_config_GLOBAL"/>
		<logger level="INFO" doc:name="Log the payload" doc:id="b421f65a-a129-410c-b357-f76b782623a6" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="bf663e4d-1b4f-4384-a71d-48f53979796f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<jms:publish doc:name="Publish" doc:id="bd92409b-62bf-4895-a9cd-05b1f4a396d4" config-ref="JMS_Config" destination="ActiveMQ_Topic01" destinationType="TOPIC"/>
	</flow>
	<flow name="activemq-topic-Flow1" doc:id="72f88c19-cda3-412d-8245-1318b5a45c64" >
		<jms:listener doc:name="On New Message" doc:id="d860f894-6a4d-4a0e-8e04-8f66a5ba6b62" config-ref="JMS_Config" destination="ActiveMQ_Topic01" ackMode="AUTO" inboundContentType="application/json" numberOfConsumers="1">
			<jms:consumer-type >
				<jms:topic-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="094614e2-91a8-4561-b96e-add4c413452c" message='"From listener, subscriber 01 " #[payload]'/>
		<logger level="INFO" doc:name="Logger" doc:id="92013694-b8dc-46c0-abd9-e2227e00cdb0" message="#[payload]"/>
	</flow>
	<flow name="activemq-topic-Flow02" doc:id="85d4a2dd-17da-433a-ad62-6016e95b4f01" >
		<jms:listener doc:name="On New Message" doc:id="5c78cea5-cb86-460a-92df-5256354d0059" config-ref="JMS_Config" destination="ActiveMQ_Topic01" ackMode="AUTO" inboundContentType="application/json" numberOfConsumers="1" >
			<jms:consumer-type >
				<jms:topic-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="a800d4b9-3a22-4be8-9c3e-96ca3cb4fde0" message='"From listener, subscriber 01" #[payload]' />
		<logger level="INFO" doc:name="Logger" doc:id="35eedf7d-c208-46ac-ab0e-53a3ce31bc36" message="#[payload]" />
	</flow>
</mule>
